# Mock API 사용 여부
VITE_USE_MOCK_API=false

# 기능별 Mock API 세부 설정
VITE_USE_MOCK_AUTH=false
VITE_USE_MOCK_ROOMS=false
VITE_USE_MOCK_WEBRTC=false
VITE_USE_MOCK_ACTIVITY_FEED=false

# 백엔드 서버 주소
VITE_BASE_SERVER_URL=http://localhost:8080/api/v1
