# 백엔드 서버 주소
VITE_BASE_SERVER_URL=http://localhost:8080/api/v1
# 백엔드 서버 주소 (배포 환경)
# VITE_BASE_SERVER_URL=https://i14c207.p.ssafy.io/api/v1

# Mock API 전체 사용 여부
VITE_USE_MOCK_API=false

# 기능별 Mock API 세부 설정
VITE_USE_MOCK_AUTH=false
VITE_USE_MOCK_ROOMS=false
VITE_USE_MOCK_CONTENTS=false
VITE_USE_MOCK_WEBRTC=false